{% extends 'axf/base.html' %}

{% load static from staticfiles %}
{% block linlscript %}

        <link rel="stylesheet" type="text/css" href="{% static 'mine/css/mine.css' %}" />
        <script type="text/javascript" charset="utf-8" src="{% static 'mine/js/mine.js' %}"></script>

{% endblock linlscript %}


{% block base %}
<div id="mine">
     <section class="fixed">
         <span class="glyphicon glyphicon-user"></span>
         <p><a href="/login/">{{ username }}</a></p>
         <p><span class="glyphicon glyphicon-fire"></span><span>等级</span></p>
         <a id="regis"  href="/register/">注册</a>
         <p><span class="glyphicon glyphicon-heart"></span><span>收藏</span></p>
     </section>

    <section class="mine">
        <p>
            <span>我的订单</span><a href="#">查看全部订单</a>
        </p>

        <nav id="nav">
            <ul>
                <li>
                    <a>
                        <dl>
                            <dt>
                                <span class="glyphicon glyphicon-usd"></span>
                            </dt>
                            <dd>代付款</dd>
                        </dl>
                    </a>
                </li>


                <li>
                    <a href="/axf/orderlistpayed/">
                        <dl>
                            <dt><span id="order_payed_list" class="glyphicon glyphicon-envelope"></span>
                                <span class="badge">
                                    <!--待收货的数量-->
                                    {{ payed }}
                                </span></dt>
                            <dd>待收货</dd>
                        </dl>
                     </a>
                </li>

                <a>
                <li>
                    <dl>
                        <dt><span class="glyphicon glyphicon-pencil"></span></dt>
                        <dd>待评价</dd>
                    </dl>

                </li>
                </a>
                <a>
                <li>
                    <dl>
                        <dt><span class="glyphicon glyphicon-retweet"></span></dt>
                        <dd>退款/售后</dd>
                    </dl>

                </li>
                </a>

            </ul>

        </nav>

        <menu>
            <ul>
                <li>
                    <a>
                        <dl>
                            <dt><span class="glyphicon glyphicon-bullhorn"></span></dt>
                            <span>积分商城</span>
                        </dl>
                    </a>
                </li>
                <li>
                    <a>
                        <dl>
                            <dt><span class="glyphicon glyphicon-credit-card"></span></dt>
                            <span>优惠券</span>
                        </dl>
                    </a>
                </li>
                <li>
                    <a>
                        <dl>
                            <dt><span class="glyphicon glyphicon-import"></span></dt>
                            <span>收货地址</span>
                        </dl>
                    </a>
                </li>
                <li>
                    <a>
                        <dl>
                            <dt><span class="glyphicon glyphicon-phone-alt"></span></dt>
                            <span>客户反馈</span>
                        </dl>
                    </a>
                </li>
                <li>
                    <a>
                        <dl>
                            <dt><span class="glyphicon glyphicon-asterisk"></span></dt>
                            <span>关于我们</span>
                        </dl>
                    </a>
                </li>
            </ul>
        </menu>

        <p><a href="/quit/">退出当前账号</a> </p>

    </section>


</div>

{% endblock base %}